>pip install tkintermapview requests pandas
>pip install requests folium pandas shapely
>pip install pyproj
 pip install flask pandas requests

Flask==2.3.0
pandas==2.0.0
requests==2.31.0
Werkzeug==2.3.0